body{
  background: #ddd;
}

#root{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
